<!-- Start of Color Palette -->
<hr>

<h1>Color Palette</h1>

<hr>

<div class="col-sm-12">
  <span class="col-sm-6">
    <button class="btn btn-sm btn-light" id="clear-selection">Clear Selection</button>
    <li id="selected-color" class="col-sm-2"></li> <!-- Holder for displaying the selected color -->
  </span>

  <span style="float: right">
    <%= render 'form' %>
  </span>
</div>

<div class="table-responsive">
  <table class="table" id="colors">
  </table>
</div>

<!-- End of Color Palette -->

<!-- Start of 20x20 Grid -->

<hr>

<h1>Board</h1>

<hr>

<div class="table-responsive table-bordered">
  <table class="table" id="squares">
  </table>
</div>

<hr>

<!-- End of 20x20 Grid -->

<script type="text/javascript">
  var color_id = null;
  var squares_url = "<%= squares_path %>";
  var user_id = $('.username').attr('id');
  var username = $('.username').text().trim();
  var colors_url = "<%= render_the_palette_colors_path %>";

  function render_the_palette() {
    invoke_ajax('GET', colors_url, {}, function(response) {
      $('#colors').html(response);
    }, 'html');
  }

  function render_the_grid() {
    invoke_ajax('GET', squares_url, {}, function(response) {
      $('#squares').html(response);
      $('[data-toggle="popover"]').popover();
    }, 'html');
  }

  render_the_palette();
  render_the_grid();

  $('#colors').on('click', '.color', function() {
    color_id = $(this).attr('id').split('_').pop();
    $('li#selected-color').css('background-color', $(this).attr('bgcolor'));
  });

  $('#squares').on('click', '.square', function() {
    if(color_id == null) {
      var content = "<div id='error' class='row alert alert-danger rounded alert-dismissible'><button type='button' \
        class='close' data-dismiss='alert'>&times;</button>Please select a color from the palette to draw</div>"
      $('div.container-fluid').html(content);
    } else {
      var td = $(this)
      var id = td.attr('id').split('_').pop();
      var color_square_url = td.attr('data-url');
      var param = { id: id, color_id: color_id, user_id: user_id, username: username };

      invoke_ajax('PUT', color_square_url, param, function(response) {
        if(response.errors) {
          var content = "<div id='error' class='row alert alert-danger rounded alert-dismissible'> \
            <button type='button' class='close' data-dismiss='alert'>&times;</button>"+ response.errors +"</div>"
          $('div.container-fluid').html(content);
        } else {
          // A success notice/alert message could be added which the Rspec can expect to have in page
          td.css('background-color', response.color);
          td.attr('data-original-title', "Color Placed By: "+ username);
          td.attr('data-content', "Placed at: "+ response.updated_at);
        }
      });
    }
  });

  $('#clear-selection').on('click', function() {
    color_id = null;
    $('li#selected-color').css('background-color', '');
  });

  setInterval(function() {
    render_the_palette();
    render_the_grid();
  }, Math.floor(Math.random() * 100000) + 15000); // intermittent refresh between the range 15 - 100 seconds
</script>
